<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main-header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left-side-div -->
            <div class="col-md-6 col-12 main-header-right align-items-center">
              <figure>
                <img
                  src="image/about.png"
                  alt="srutik"
                  class="img-fluid"
                  title="srutik-weather"
                />
              </figure>
            </div>

             <div class="col-md-6 col-12 main-header-left">
              <p>Welcome to weather app</p>
              <h1>
                I Am A <span class="text_clr">MERN Stack Developer</span>.
              </h1>
              <a href="https://www.google.com/" target="_srutik"><button>About me</button></a>
            </div>
            <!-- right-side-div -->
          </div>
        </div>
      </div>
    </div>

    <!-- footer-code -->
    {{>footer}}
  </body>
</html>
